
{% extends 'common.html' %}

{% block losan %}

    {% include 'main_menu.html' %}
<form action="{% url 'admin_login_check' %}" method="post">
    {% csrf_token %}
    <table align="center" border="0">
        <tr>
            <th id="admin_title">Admin Login Page</th>
        </tr>
        <tr><th class="admin_field"><input type="text" placeholder="Username" required name="t1"></th></tr>
        <tr><th class="admin_field"><input type="password" placeholder="Password" required name="t2"></th></tr>
        <tr><th class="admin_field"><button type="submit">Login</button> </th></tr>


        {% if messages %}

            <tr>
                <th class="admin_error">
                    {% for x in messages %}
                        {{ x }}
                    {% endfor %}
                </th>
            </tr>

        {% endif %}


    </table>
    </form>

{% endblock %}
