{% extends 'common.html' %}

{% block  losan%}
    {% load static %}
    {% include 'admin_menu.html' %}

    <table align="center" border="1">
    <tr><th rowspan="5"><img src="{% static 'images/Losan.jpg' %}"></th></tr>
    <tr><th class="admin_info"> Name : Losan Kumar Sahu</th></tr>
    <tr><th class="admin_info"> Contact No : 9938559278</th></tr>
    <tr><th class="admin_info"> Email Id : lksahu418@gmail.com</th></tr>
    <tr><th class="admin_info"> Address : Angul</th></tr>

    </table>
{% endblock %}
